

@keyframes rainbow-glow {
  0% {
    background-position: 200% 0;
  }
  
  100% {
    background-position: 0% 0;
  }
}

.animate-rainbow-glow {
  background: linear-gradient(
    90deg,
    #f414c3,
    #f9a023,
    #39ec71,
    #5f2c82,
    #2fbae0,
    #e8081a /* repeat first color for seamless loop */
  );
  background-size: 400% 100%;
  animation: rainbow-glow 4s alternate infinite;
  animation-delay: 300ms;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0%);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.animate-slide-in {
  animation: slideIn 0.5s forwards;
}

.animate-slide-out {
  animation: slideOut 0.5s forwards;
}
